:root{
  --cor-primaria: #222222;
  --cor-secundaria: #ff9900; --cor-secundaria-hover: #ce7b00;
  --cor-terciaria: #414141;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--cor-primaria);
  background-image: url(../../../Recursos/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 40px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(0,0,0,0.15);
}

.total i{
  margin-right: 4px;
  scale: 1.2;
}


.resultados{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  margin: 0px 15% 15% 15%;
  background-color: var(--cor-terciaria);
  border-radius: 40px;
  transition: 0.4s;
}

.pesquisa{
  background-color: rgb(0, 0, 0, 0.30);
  margin: 40px 20px 10px 20px;
  padding: 22px 16px 22px 16px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  left: 50%;
}

.search-box{
  background-color: #fff;
  height: 50px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.15);
}

.search-box:hover > .search-btn{
  background-color: var(--cor-secundaria);
}

.search-box:hover > .search-btn .loupe-yellow{
  opacity: 0;
}

.search-box:hover > .search-btn .loupe-white{
  opacity: 1;
}

.search-text{
  background: none;
  border: none;
  outline: 0;
  font-size: 16px;
  padding: 0;
  width: 80vw;
  padding-left: 20px;
  transition: 0.4s;
}

.search-text:focus + .search-btn{
  background-color: var(--cor-secundaria);
}

.search-text:focus + .search-btn .loupe-yellow{
  opacity: 0;
}

.search-text:focus + .search-btn .loupe-white{
  opacity: 1;
}

.search-text::-webkit-input-placeholder{
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #aeaeae
}

.search-btn{
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}

.search-btn img{
  width: 20px;
  height: 20px;
}

.loupe-white{
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}

.loupe-yellow{
  position: absolute;
  opacity: 1;
  transition: 0.4s;
}

.filter-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-dropdown{
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  padding-right:10px ;
  opacity: 0;
  width: 0;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s;
}

.filter-dropdown-actived{
  width: 410px;
  opacity: 1;
}

.filter-btn{
  background: #fff;
  user-select: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 40px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.4s;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.15);
}

.filter-btn:hover{
  background-color: var(--cor-secundaria);
  .filter-white{
    opacity: 1;
  }
  .filter-yellow{
    opacity: 0;
  }
  .filter-btn-text{
    color: #fff;
  }
}

.filter-btn-actived{
  background-color: var(--cor-secundaria);
}

.filter-btn:active{
  background-color: var(--cor-secundaria-hover);
}

.filter-btn-text{
  padding: 6px 6px 6px 35px;
  margin: 0;
  color: black;
  transition: 0.2s;
}

.filter-yellow{
  position: absolute;
  opacity: 1;
  width: 32px;
  height: 32px;
  transition: 0.2s;
}

.filter-white{
  position: absolute;
  opacity: 0;
  width: 32px;
  height: 32px;
  transition: 0.2s;
}

.select-menu{
  width: 180px;
  margin: 15px 10px 15px 0px;
}
.select-menu .select-btn{
  display: flex;
  white-space: nowrap;
  height: 55px;
  width: 180px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 40px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.15);
}
.select-btn i{
  font-size: 25px;
  transition: 0.3s;
}
.select-menu.active .select-btn i{
  transform: rotate(-180deg);
}
.select-menu .options{
  position: absolute;
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
}

.options::-webkit-scrollbar {
  width: 12px;              
}
.options::-webkit-scrollbar-track {
  background: #ff9900;       
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.options::-webkit-scrollbar-thumb {
  background-color: #222222;    
  border-radius: 20px;       
  border: 3px solid #ff9900; 
}
.options::-webkit-scrollbar-thumb:hover{
  background-color: #414141;
  cursor: pointer;
}

.select-menu.active .options{
  display: block;
}
.options .option{
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.options .option:hover{
  background: #F2F2F2;
}
.option i{
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text{
  font-size: 18px;
  color: #333;
}

.imagens{
    width: 200px;
    height: 250px;
    transition: all 0.1s ease-in-out; 
    image-rendering: optimizeSpeed;
    background-size: cover;
    border-radius: 10px;
    z-index: 0;
}
    
.imagens:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
    cursor:pointer;
}

b{
    color:white;
}
p{
    font-size: 15px;
}
picture {
    position: relative;
}

picture > figcaption {
  position:absolute;
  width: 240px;
  height: 300px;
  bottom: -143px;
  left: -10px;
  background: white;
  color: rgb(54, 54, 54);
  padding: 15px 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0s, transform 0.5s ease-in-out;
  font-size: 13px;
  z-index: 1;
  overflow: auto;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  scroll-snap-align: end;
}


picture:hover > figcaption{
  opacity: 1;
  transform: translateX(222px);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.5s;
  visibility: visible;
}


picture:hover .imagens{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.menuOculto{
  height: 100%;
  width: 0;
  opacity: 0.5;
  position: fixed;
  user-select: none;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--cor-primaria);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

section{
  display: block;
  user-select: none;
}

.navegacao input{
  background-color: transparent;
  border: none;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #888;
  display: block;
  transition: 0.3s;
}

.navegacao input:hover{
  color: #fff;
}

.menuOculto a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #888;
  display: block;
  transition: 0.3s;
}

.menuOculto a:hover{
  color: #fff;
}

.btnFechar{
  background-color: transparent;
  border: none;
  color: #888;
  height: min-content;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#primario{
  padding: 8px 20px;
  transition: margin-left 0.5s;
  position: absolute;
  right: 0;
  top: 0;
}

/* Responsivo */

@media (max-width:550px){
  .pesquisa{
    margin: 20px 8px;
  }
  .filter-dropdown{
    max-width: 250px;
    flex-direction: column;
    align-items: start;
  }
  .resultados{
    top: 380px;
  }
}


@media (max-width: 800px) {
  .imagens{width: 140px;height: 175px;}
  picture > figcaption {position:absolute;width: 200px;height: 210px;bottom: -97.5px;left: -78px;}
  .menuOculto{padding-top: 15px; max-width: 200px;}
  .navegacao input{font-size: 16px;}
}


figcaption::-webkit-scrollbar {
  width: 12px;              
}
figcaption::-webkit-scrollbar-track {
  background: #ff9900;       
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
figcaption::-webkit-scrollbar-thumb {
  background-color: #222222;    
  border-radius: 20px;       
  border: 3px solid #ff9900; 
}
figcaption::-webkit-scrollbar-thumb:hover{
  background-color: #414141;
  cursor: pointer;
}
