:root{
  --progressSize: 160px;
  --porcentagem: 65;
  --dashoffset: calc(472 - (472 * (var(--porcentagem)/100)));
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  background-color: #e3edf7;
}


.imgperfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 50px;
}

.imgperfil img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.principal {
  position:absolute;
  min-height: 800px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.errorInfo{
  color: rgb(255, 0, 0);
  display: none ;
  font-size: medium;
  margin-top: 10px;
  }

.text-success{
  display: none;
  font-size:medium;
  margin-top: 10px;
}

.minhasLeituras{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagens{
  width: 200px;
  height: 250px;
  transition: all 0.1s; 
  background-size: cover;
  border-radius: 10px;
  margin-inline-start: 10px;
}

picture:hover .imagens{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.informacoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-size: 15px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: auto;
}

.progresso {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(red var(--progress), gray 0deg);
  font-size: 0;
}

.progresso::after {
  content: attr(data-progress) '%';
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  border-radius: 50%;
  background: white;
  font-size: 1rem;
  text-align: center;
}

.skill{
  height: var(--progressSize);
  width: var(--progressSize);
  position: relative;
}
.outer{
  height: var(--progressSize);
  width: var(--progressSize);
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.15);
  
}
.inner{
  height: calc(var(--progressSize) - 40px);
  width: calc(var(--progressSize) - 40px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px  6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
}
#number{
  font-weight: 600;
  color: #555;
}

circle{
  position: absolute;
  fill:none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
svg{
  height: var(--progressSize);
  width: var(--progressSize);
  position: absolute;
  top: 0;
  right: 0;
}
@keyframes anim{
  100%{
    stroke-dashoffset: 165;
  }
}