:root{
    --cor-primaria: #222222;
    --cor-secundaria: #ff9900; --cor-secundaria-hover: #ce7b00;
    --cor-terciaria: #414141;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-primaria);
    background-image: url(../../Recursos/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.search-box{
    background-color: #fff;
    height: 50px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box:hover > .search-text{
    width: 20vw;
    padding-left: 20px;
}

.search-box:hover > .search-btn{
    background-color: var(--cor-secundaria);
}

.search-box:hover > .search-btn .loupe-yellow{
    opacity: 0;
}

.search-box:hover > .search-btn .loupe-white{
    opacity: 1;
}

.search-text{
    background: none;
    border: none;
    outline: 0;
    font-size: 16px;
    padding: 0;
    width: 0;
    transition: 0.4s;
}

.search-text:focus{
    width: 20vw;
    padding-left: 20px;
}

.search-text::-webkit-input-placeholder{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #aeaeae
}

.search-btn{
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.search-btn img{
    width: 20px;
    height: 20px;
}

.loupe-white{
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}

.loupe-yellow{
    position: absolute;
    opacity: 1;
    transition: 0.4s;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.principal{
    background-color: var(--cor-terciaria);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 340px;
    padding: 10px;
    box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}
.classe{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: fit-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

.barra{
    background-color: var(--cor-secundaria);
    width: auto;
    height: 5px;
    border-radius: 5px;
}

.imagens{
    width: 200px;
    height: 250px;
    transition: all 0.1s ease-in-out; 
    background-size: cover;
    border-radius: 10px;
    z-index: 0;
    margin-inline-start: 10px;
}

.imgperfil{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.imgperfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagens:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
    cursor:pointer;
}

.nome{
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.navNome{
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

b{
    color:white;
}
p{
    font-size: 16px;
}
picture {
    position: relative;
}

picture > figcaption {
    position:absolute;
    width: 240px;
    height: 300px;
    bottom: -138.5px;
    left: -10px;
    background: white;
    color: rgb(54, 54, 54);
    padding: 15px 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s, transform 0.5s ease-in-out;
    font-size: 13px;
    z-index: 1;
    overflow: auto;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    scroll-snap-align: end;
}

picture:hover > figcaption{
    opacity: 1;
    transform: translateX(222px);
    transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.5s;
    visibility: visible;
}

picture:hover .imagens{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


figcaption::-webkit-scrollbar {     /* referente a scrollbar inteira */
    width: 12px;              
}
figcaption::-webkit-scrollbar-track {     /* referente a pista da scrollbar */
    background: var(--cor-secundaria);       
    border-top-right-radius: 7px;   
    border-bottom-right-radius: 7px;  
}
figcaption::-webkit-scrollbar-thumb {     /* referente a barra central da scrollbar */
    background-color: var(--cor-primaria);    
    border-radius: 20px;      
    border: 3px solid var(--cor-secundaria);  
}
figcaption::-webkit-scrollbar-thumb:hover{
    background-color: #414141;
    cursor: pointer;
}
  
.principal::-webkit-scrollbar {  
  height: 20px;
}
  
.principal::-webkit-scrollbar-track {
    background-color: var(--cor-primaria);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.principal::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    height: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 5px solid var(--cor-primaria); 
}
  
.principal::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-secundaria-hover);
}


footer{
    background-color: var(--cor-secundaria);
    padding-top: 50px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease;
}
.footer-col .medias-socias a i{
    scale: 2;
}

.footer-col .medias-socias a:hover{
    background-color: rgba(0, 0, 0, 0.247);
}

.fa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook{
    scale: 1.5;
    width: 25px;
    height: 25px;
}
.instagram, .twitter, .linkedin{
    width: 25px;
    height: 25px;
}

.menuOculto{
    height: 100%;
    width: 0;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

section{
    display: none;
}

.navegacao input{
    background-color: transparent;
    border: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    transition: 0.3s;
}

.navegacao input:hover{
    color: #fff;
}

.menuOculto a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    transition: 0.3s;
}

.menuOculto a:hover{
    color: #fff;
}

.menuOculto p{
    padding: 8px 8px 9px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    transition: 0.3s;
}


.imgPerfilMenu {
    position: relative;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.imgPerfilMenu img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btnFechar{
    background-color: transparent;
    border: none;
    color: #888;
    height: min-content;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#primario{
    padding: 8px 20px;
    transition: margin-left 0.5s;
    position: absolute;
    right: 0;
    top: 0;
}

/* Responsivo */

@media (max-width: 1040px){
    .form{display: none;}
    .nome{display: none;}
    .dropdown{display: none;}
    .dropdown-responsive{display: block;}
    section{display: block;}
    .search-box{display: none;}
}

@media (max-width: 800px) {
    .footer-col{width: 50%;margin-bottom: 30px;}
    .principal{height: 240px;}
    .imagens{width: 140px;height: 175px;}
    picture > figcaption {position:absolute;width: 200px;height: 210px;bottom: -93.2px;left: -69px;}
    .menuOculto{padding-top: 15px; max-width: 200px;}
    .navegacao input{font-size: 16px;}
    .menuOculto p{font-size: 20px;}
}

@media (max-width:600px) {
    .footer-col{width: 100%;}
}
