* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --light: #cccccc;
    --dark: #151515;
}

#theme-switcher {
    display: none;
}

#app-container{
    height: 100vh;
    background: var(--light);
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.theme-switcher-area {
    border: 1px solid var(--light);
    background: var(--dark);
    border-radius: 2rem;
    width: 4.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.theme-switcher-button { 
    position: relative;
    display: block;
    background: #f1aa02;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px dashed var(--dark);
    transition: 0.3s;
}
.theme-switcher-button::after {
    position: absolute;
    left: 9px;
    top: 1px;
    width: 80%;
    height: 80%;
    content: "";
    background: var(--dark);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}
#theme-switcher:checked + #app-container .theme-switcher-button {
    transform: translateX(100%);
    border: none;
}
#theme-switcher:checked + #app-container .theme-switcher-button::after{
    opacity: 1;
}
#theme-switcher:checked + #app-container{
    background: var(--dark);
    color: var(--light);
}

#text-container{
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    white-space: pre-line;
}

#button-container{
    position: fixed;
    bottom: 12px;;
}

.navButton{
    border: 1px solid #6c757d;
    border-radius: 8px;
    height: 40px;
    background-color: #fff;
    color: #6c757d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.navButton:hover{
    background-color: #3b3b3b;
    color: white;
}

.navButton:active {
    background-color: #6c757d;
}

.navButton:disabled{
    background-color: #ccc;
    border-color: #999;
    color: #999;
}

.return{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;;
    left: 20px;
    transition: opacity 0.2s;

}

#pages-container{
    margin-top: 20px;
}

#row{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#menu-container{
    padding-left: 25px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}