.font-type{
    font-family: sans-serif;
}


display-flex {
    display: flex;
    display: -webkit-flex
}

list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a:focus,a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s
}

input,select,textarea {
    outline: none;
    -moz-appearnce: unset!important;
    -webkit-apperance: unset!important;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    appearance: none!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    -o-appearance: none!important;
    -ms-appearance: none!important;
    margin: 0;
}

input:focus,select:focus,textarea:focus {
    outline: none;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -o-box-shadow: none!important;
    -ms-box-shadow: none!important;
}



input[type=radio] {
    appearance: radio!important;
    -moz-appearance: radio!important;
    -webkit-appearance: radio!important;
    -o-appearance: radio!important;
    -ms-appearance: radio!important;
}

img {
    max-width: 100%;
    height: auto
}

figure {
    margin: 0
}

p {
    margin-bottom: 0
}

h2 {
    line-height: 2.5;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px
}

.clear {
    clear: both
}

body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    font-family: Poppins;
    margin: 0
}

.main {
    padding: 105px 0;
    position: relative;
}

h1 {
    position: absolute;
    font-weight: 700;
    font-size: 174px;
    color: #fff;
    opacity: .5;
    right: 105px;
    top: 45px;
    top: -149px;
    z-index: 9
}

.container {
    width: 520px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 10px 9.9px .1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 10px 9.9px .1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 10px 9.9px .1px rgba(0,0,0,.05);
    -o-box-shadow: 0 10px 9.9px .1px rgba(0,0,0,.05);
    -ms-box-shadow: 0 10px 9.9px .1px rgba(0,0,0,.05);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px
}

.sign-up-content {
    padding: 40px 60px 32px;
    position: relative;
    z-index: 99
}

input{
    border: solid 2px #ebebeb;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
    padding: 16px 30px 16px 140px
}

input[type=checkbox]{
    max-width: fit-content;
}

.form-textbox {
    position: relative
}

.form-textbox label {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
    color: #888;
    font-size: 14px
}

#name {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

#pass {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

#email {
    border: none;
    border-left: solid 2px #ebebeb;
    border-right: solid 2px #ebebeb
}

.label-agree-term {
    color: #888
}

.term-service {
    color: #1da0f2;
    text-decoration: none
}

.term-service:hover {
    text-decoration: underline
}

.submit {
    background: #1da0f2;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 600;
    font-family: Poppins;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px
}

.submit:hover {
    background: #0c85d0
}

.loginhere {
    text-align: center;
    color: #888;
    margin-top: 63px
}

.loginhere-link {
    color: #1da0f2;
    text-decoration: none
}

.loginhere-link:hover {
    text-decoration: underline
}


@media screen and (max-width: 768px) {
    .container {
        width:calc( 100% - 30px);
        max-width: 100%
    }
}

@media screen and (max-width: 575px) {
    .sign-up-content {
        padding:40px 20px 32px
    }

    .form-radio input+label {
        display: block;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 400px) {
    .form-textbox label {
        left:15px
    }

    input {
        padding: 16px 30px 16px 100px
    }
}

  .errorInfo{
    color: rgb(255, 0, 0);
    padding-left: 7px;
    display: none ;
    font-size: small;
  }

